{% extends 'base.html' %}


{% block title %}
    {{title}}
{% endblock title %}
    

{% block header %}
    <h1>
        Selamat datang di{{header}}
    </h1>
{% endblock header %}


{% block content %}
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam doloribus eaque dolore repudiandae autem minus eligendi ipsam, excepturi id iure debitis optio aut animi suscipit quam distinctio ipsa veniam repellat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis velit at porro, rerum eveniet consequuntur, quam illo ratione, dicta ut ipsa. Temporibus cum cumque aspernatur nihil. Saepe molestiae accusamus quod!
    </p>
{% endblock content %}
    
    